//Font
$mainFont: 'Montserrat',
Helvetica,
Arial,
sans-serif;
//Font Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
//Size
$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tabletWidth: 768px;
$smTabletWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;